@font-face { 
    font-family: 'trashed'; 
    src: url(https://dl.dropbox.com/s/3qo1te621f9o2e6/1%20Punk.ttf?st=x4evk2vw&dl=0); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://i.pinimg.com/originals/ad/64/7f/ad647fd1e5da03acf4aeeb19888729f0.jpg) no-repeat fixed;
    background-size: cover;
    background-position-y: bottom;
    font-family: monospace;
    color: grey;
}

html {
    border: 12px solid #7777779e;
    filter: sepia(0.3) saturate(0.9);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: url(https://i.pinimg.com/736x/1b/c3/15/1bc31504c140ae94731ed7771c9661f3.jpg);
    background-size: cover;
    background-position-y: 0%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 0 0 20px 7px black;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'trashed', cursive;
    text-align: center;
    font-size: 2.5em;
    color: #bcb9b9;
    margin-bottom: 10px;
}

nav {
    background: url(https://i.pinimg.com/736x/1b/c3/15/1bc31504c140ae94731ed7771c9661f3.jpg);
    background-position-y: 20%;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 0 20px 7px black;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: lightgrey;
    text-shadow: 0 0 3px black;
    font-size: 1em;
    margin: 0 15px;
}

nav a:hover {
    color: grey;
}

.hero {
    height: 257px;
    display: block;
    background-image: url('https://i.pinimg.com/736x/1b/c3/15/1bc31504c140ae94731ed7771c9661f3.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 45%;
    filter: brightness(0.6);
    border: 2px solid black;
    box-shadow: 0 0 20px 7px black;
    border-radius: 3px;
    margin-bottom: 20px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: #00000087;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
    padding: 20px;
}

.card.rotated-left {
    transform: rotate(355deg);
}

.card.rotated-right {
    transform: rotate(7deg);
}

.card.rotated-slight {
    transform: rotate(3deg);
}

.card-header {
    color: grey;
    padding: 10px 7px;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0 0 5px grey;
    margin-bottom: 15px;
}

.profile-pic {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto 15px;
    opacity: 0.82;
    box-shadow: 0 0 10px black;
}

.mood-status {
    width: 100%;
    color: grey;
    background: #00000087;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 10px black;
    border-radius: 3px;
    margin: 20px 0;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table td {
    padding: 10px;
    vertical-align: top;
    color: grey;
}

.info-table td:first-child {
    color: #a9a7a7;
    text-align: center;
    font-weight: bold;
    width: 40%;
}

.image-box {
    background: url(https://external-media.spacehey.net/media/sXCfNzb7iBgk-V4a8BZ0nWKlwEXXTuH2Zi-KkXaMCGHA=/https://64.media.tumblr.com/b0b8182e3216c710e5c4d2251201af49/6b04e5cc25ed8963-77/s100x200/63de893bf365135885218ff124e4b0b124f29a6e.gifv);
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: saturate(0.5);
    opacity: 0.7;
    box-shadow: 0 0 10px black;
    border-radius: 3px;
}


.about-section {
    background: url(https://i.pinimg.com/1200x/c9/2e/88/c92e8833536e57554ac14b964e90c9a5.jpg);
    border: 2px solid black;
    background-size: cover;
    background-position-y: center;
    padding: 40px;
    font-size: 1.1em;
    box-shadow: 0 0 20px 7px black;
    filter: brightness(0.6);
    border-radius: 3px;
    margin-bottom: 20px;

}

.about-section h2 {
    color: white;
    margin-bottom: 10px;
}

.about-section p {
    color: white;
}

button, input, textarea {
    background: lightgrey;
    border: black 2px solid;
    padding: 8px 15px;
    font-family: monospace;
    cursor: pointer;
}

button:hover {
    background: grey;
    color: white;
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 80px;
}

a {
    color: #cccccc;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

a:hover {
    color: #646464;
    text-decoration: line-through;
    transition: 1s;
    filter: blur(0.7px);
}

.comments-section {
    margin-top: 20px;
}

.comment-form {
    margin-bottom: 20px;
}

.comment-item {
    background: #00000087;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
    padding: 15px;
    margin-bottom: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #a9a7a7;
    font-size: 0.9em;
}

.comment-text {
    color: grey;
    line-height: 1.5;
}

.loading {
    text-align: center;
    color: grey;
    padding: 20px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin: 10px 0;
    padding: 10px 5px;
    background-color: #0000007a;
    color: grey;
    box-shadow: 0 0 20px 0px black;
    transform: rotate(180deg);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: grey;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: lightgrey;
}

@media (max-width: 768px) {
    .content-wrapper {
        grid-template-columns: 1fr;
    }
}